@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root {
--violeta-Oscuro: #3D2273;
--violeta-Claro: #7B65A2;
--verde-Oscuro: #046A3A;
--verde-Claro: #6BA68A;
--blanco: #F2F1F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}